body{
    margin: 0px;
}
#head{
    display: flex;
    background-color: white;
}
#head h2{
      margin-left: 150px; 
      margin-right: 40px; 
      font-weight: 900;
}
[type="search"]{
    margin-top: 10px;
    width: 640px;
    height: 50px;
    border-radius:10px; 
}
#head div{
    margin-left: 170px;
    margin-top: 20px;
}
#head i{
    font-size: 2em;
    padding-left: 20px;

}
#head a:visited{
    color: black;
}
#head a:hover{
    color: red
}
.header{
    background-color: #e2e3e5;
}
.header ul{
    list-style-type: none; 
    display: flex; 
    margin-top: 0px; 
    margin-bottom:0px; 
    height: 50px;
    padding-right: 170px;
    padding-left: 170px;
}
.header a:link{
    text-decoration: none;
}
.header a:visited{
    color: black;
}
.list{
         margin: auto;
}
.background-image{  
    width: 1521.1px; 
    height:800px;
    margin-bottom: 20px;
} 
.button-1{
    width: 470px;
    margin-right: 525px;
    margin-left: 525px;
}
.button-1 button{
    height: 30px;
    border-radius: 8px;
    background-color: white;
    color: #8babec;
   
}
.button-1 button:hover{
    background-color: rgb(0, 0, 0);
}
.cards{
    margin-left: 100px; 
    margin-right: 100px; 
    margin-top: 20px;
}
.list1{
    margin: auto;
}
.list1 :hover{
    transform: scale(1.03,1.03);
   
}
.cards ul{
    list-style-type: none; 
    display: flex;
}
.productName1{
    margin-top: 0px; 
    margin-bottom: 0px;
}
.price{
    margin-top: 5px;
}
.cards1{
    margin-left: 200px;
    margin-right: 200px;

}
.cards1 ul{
    list-style-type: none; 
    display: flex;
}
.VIEW{
    text-align: center;
}
.VIEW button{
    width: 100px;
    height: 40px;
    border-radius: 10px;
    background-color: black;
    color: white;
    font-weight: 600;
    margin-bottom: 20px;
}
.VIEW button:hover{
    background-color: gray;
}
.foot{
    background-color: #e2e3e5; 
    padding-top: 10px;
    padding-bottom: 10px;
}
.foot [type="email"]{
    width: 1000px;
    height: 30px;
    border: #e2e3e5;
    
}
.foot [type="submit"]{
    height: 30px;
    border: #e2e3e5;
    background-color: white;
}
.footer{
    background-color: #e2e3e5;
    height: 100px;
    padding-top: 0px;
    position: relative;
     
}
.footer ul{
    list-style-type: none; 
    display: flex; 
    margin: 0px 150px 0px 150px;
    padding: 0px;
}
.list2{
    padding-left: 80px;
    padding-right: 30px;
}
.footer1{
    display: flex;
    margin: 0px; 
    position: absolute;  
    top: 529%;
    background-color: #e2e3e5;
    width: 1520px;
}
.footer1-1{
    
}
.footer1-1-a{
   margin-left: 190px ;
   margin-right: 103px;
}
.footer1-1-a li{
    padding-bottom: 10px;
    font-weight: 530;
}
.footer1-1-b{
    margin-right: 140px;
}
.footer1-1-b li{
    padding-bottom: 10px;
    font-weight: 530;
}
.footer1-1-c{
    margin-right: 3px;
}
.footer1-1-c li{
    padding-bottom: 10px;
    font-weight: 530;
}
.footer1-1-d{
    margin-right: 157px;
}
.footer1-1-d li{
    padding-bottom: 10px;
    font-weight: 530;
}
.footer1-1-e li{
    padding-bottom: 10px;
    font-weight: 530;
}




